<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create New</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="center-screen">
                <div class="myDiv">
                    <div class="col text-center">
                        <h2 style="color: white;">Login Here</h2>
                    </div>
                    <br>
                    <form method="post" action="/admin/home">
                        <div class="form-row">
                            <div class="col-2">
                                <input class="form-control" type="text" placeholder="Enter Username" name="userName" id="userName"><br>
                            </div>
                            <br>
                            <div class="col-2">
                                <input class="form-control" type="password" placeholder="Enter Password" name="password"><br>
                            </div>
                            <br>

                           
                            <div class="col-2">
                                <input style="float: left" id="submitNews" class="btn btn-success" type="submit" value="Login">
                                <a href="/register"><button id="mybtn" style="float: right" type="button" class="btn btn-warning" >Sign Up</button></a>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>

        </div></div></div>

</body>
</html>