<div class="modal" id="roomModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Room</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <div class="col">
                        <input id="roomProblemId" type="text" class="form-control" name="problemId" readonly>
                    </div>
                    <br>
                    <div class="col">
                        <input id="roomProblemTitle" type="text" class="form-control" name="problemTitle" readonly>
                    </div>
                    <br>
                    <div class="col">
                        <input id="roomName" type="text" class="form-control" placeholder="Enter Room Name" name="roomName"
                            required>
                    </div>
                    <br>
                    <input type="submit" id='submitRoom' class=" btn btn-primary" value="Save Room" style="float: right;"><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>